<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{TITLE}} | Hai Cuong</title>
    <meta name="description" content="{{DESCRIPTION}}" />
    <script type="module" src="/src/scripts/main.ts"></script>
  </head>
  <body>
    <site-header></site-header>
    <main>
      <article
        class="prose-p:my-6 prose-img:my-2 prose-h1:text-center prose-h1:mb-16 prose-h1:mt-8 prose dark:prose-invert w-full max-w-none mx-auto"
      >
        <img
          class="aspect-16/4 object-cover rounded-3xl"
          src="{{COVER_IMAGE_URL}}"
          alt="Cover Image"
        />
        <hr />
        {{CONTENT}}
      </article>
    </main>
    <site-footer></site-footer>
  </body>
</html>
